@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Starship:#F3DB4C;
    --Mine_Shaft: #343434;
    --Husk: #B2A443;
    --Sycamore: #94843C;
    --blanco: #fff;
    --padding: 8px;
    --margin: 10px;
    --border_radius: 8px;
    --transition: 1s;
    --max-width: 1400px;
}
::selection{
    background: var(--Starship);
    color: var(--Mine_Shaft);
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--Mine_Shaft);
    color: var(--Starship);
    line-height: 24px;
}
header{
    text-align: center;
    border-radius: solid 1px var(--border_radius);
    margin-bottom: var(--margin);
}
section{
    padding: var(--padding);
}
a{
    color: var(--Husk);
    text-decoration: none;
}
h1,h2{
    padding: var(--padding);
}
p{
    font-size: 1rem;
    margin: 0 0 var(--margin);
    color: var(--blanco);
}
p::first-letter{
    font-size: 1.4rem;
    color: var(--Starship);
    font-weight: 700;
}
ul{
    list-style: none;
}
ul.list > li.item{
    cursor: pointer;
}
li.item:hover a{
    color: var(--Mine_Shaft);
}
.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
}
.margin-boton{
    margin-bottom: var(--margin);
}
.search{
    display: flex;
    justify-content: end;
}
.search__form{
    border: solid 1px var(--Starship);
    border-radius: var(--border_radius);
    padding: var(--padding);
    display: inline-grid;
    justify-content: end;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 4px;
}
.input{
    width: 100%;
    padding: var(--padding);
    outline: none;
    border-radius: var(--border_radius);
    border: none;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    width: 450px;
    border: solid 1px var(--Husk);
    border-radius: var(--border_radius);
    margin: 0 auto;
}
.card__header{
    padding: var(--padding);
}
.card__title{
    word-break: break-all;
}
.card__body{
    padding: var(--padding);
}
.card__img{
    width: 100%;
}
.card__paragraph{
    padding: var(--padding);
}
.button{
    background-color: var(--Starship);
    color: var(--Mine_Shaft);
    padding: var(--padding);
    border-radius: var(--border_radius);
    font-size: 1rem;
    font-weight: 600;
    border: solid 1px var(--Starship);
    display: inline-flex;
    align-items: center;
    transition: var(--transition); 
}
.button:hover{
    background-color: var(--Mine_Shaft);
    color: var(--Starship);
}
.button--outline{
    background-color: var(--Mine_Shaft);
    color: var(--Starship);
}
.button--outline:hover{
    background-color: var(--Starship);
    color: var(--Mine_Shaft);
}
.button__text{

}
.button__icon{
    font-size: 1.4rem;
}
.list{
    text-align: center;
    padding: var(--padding);
}
.item{
    border-bottom: solid 1px var(--Husk);
    padding: var(--padding);
    transition: var(--transition);
    font-size: 1.2rem;
}
.item:hover{
    background-color: var(--Sycamore);
    color: var(--Mine_Shaft);
}
ul.list > li.item a:visited{
    color: var(--Starship);
}
.item:last-child{
    border: none;
}